body{
	font-family:"Lucida Console";
	font-size:10px;
	background-color:#FFFFFF;
}

td{
	font-family:"Lucida Console";
	font-size:10px;
}
th{
	font-family:"Lucida Console";
	font-size:10px;
}
.basereporte
{	font-family:"Lucida Console";
	font-size:10px;
	background-color:#FFFFFF;
	padding: 5px 5px 5px 5px;					
}

.linecabborleft{
	border-left:1px #000000 solid;
	border-right:1px #000000 solid;
	border-top:1px #000000 solid;
	border-bottom:1px #000000 solid;
	height:30px;
}

.linecabborright{
	border-right:1px #000000 solid;
	border-top:1px #000000 solid;
	border-bottom:1px #000000 solid;
	height:30px;
}

.linedet{
	border-bottom:1px #CCCCCC solid;
	height:20px;
	padding:2px 2px 2px 2px;
}

.cabrep{
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding:2px 2px 2px 2px;
}

