<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />-->
    
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="jdbc:mysql://localhost:3306/jgroup"
          p:username="root"
          p:password="root" />



    <bean id="usuarioService" class="proyecto.service.UsuarioServiceImpl">
        <property name="usuarioDAO" ref="usuarioDAO"/>
    </bean>

    <bean id="usuarioDAO" class="proyecto.dao.UsuarioDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="articuloDAO" class="proyecto.dao.ArticuloDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="articuloService" class="proyecto.service.ArticuloServiceImpl">
        <property name="articuloDAO" ref="articuloDAO"/>
    </bean>

     <bean id="invitacionDAO" class="proyecto.dao.InvitacionDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="invitacionService" class="proyecto.service.InvitacionServiceImpl">
        <property name="invitacionDAO" ref="invitacionDAO"/>
    </bean>
    
      <bean id="reglasNegocioDAO" class="proyecto.dao.ReglasNegocioDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="reglasService" class="proyecto.service.ReglasNegocioServiceImpl">
        <property name="reglasNegocioDAO" ref="reglasNegocioDAO"/>
    </bean>
    
     <bean id="proveedorDAO" class="proyecto.dao.ProveedorDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="proveedorService" class="proyecto.service.ProveedorServiceImpl">
        <property name="proveedorDAO" ref="proveedorDAO"/>
    </bean>
    <bean id="cotizacionCabDAO" class="proyecto.dao.CotizacionCabDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="cotizacionService" class="proyecto.service.CotizacionServiceImpl">
        <property name="cotizacionCabDAO" ref="cotizacionCabDAO"/>
    </bean>
</beans>
